.video-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remote-video {
  width: auto;
  height: 100%;
  max-height: 90vh;
  aspect-ratio: 6 / 19;
  object-fit: cover;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.local-video {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 96px;
  height: 182px; /* 6:19 ratio */
  background: #000;
  border: 2px solid #fff;
  border-radius: 8px;
  z-index: 2;
  object-fit: cover;
}

.controls-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 10px;
}
